<footer>
    <ul class="listeFooter">
        <li>Mail --> cours@ac.google.com</li>
        <li>Téléphone --> 06 50 42 51 90</li>
        <li>Adresse --> 15 rue Sapristi Besançon</li>
    </ul>
</footer>