{% extends 'base.html.twig' %}

{% block title %}Hello BienvenueController!{% endblock %}

{%block body%}
    <h1>Bienvenue à tous nos étudiants</h1>
    <ul class="eleves">
    {%for each in acteurs%}
        <li><a href="{{ path('app_bienvenue_prenom',{"prenom" : each}) }}">{{ each|capitalize }}</a></li>
    {% endfor %}
    </ul>
{% endblock body %}
