{% extends 'base.html.twig' %}

{% block title %}Hello BienvenueController!{% endblock %}

{%block body%}
    {%if prenom is defined%}
    <h1>Bienvenue {{ prenom | upper }} dans le cours symfony</h1>
    {%else%}
    <h1>Bienvenue à tous dans le cours symfony</h1>
    {%endif%}
{% endblock body %}
