{% extends 'base.html.twig' %}

{% block title %}Hello PromotionController!{% endblock %}

{% block body %}
    {%for each in promotions%}
        {% set nom = each.nom %}
        {% set annee = each.annee %}
        {% set id = each.id %}
        <li><a href="{{ path('app_promotion_fiche',{"id":id}) }}">{{ nom }}</a></li>
    {%endfor %}
{% endblock %}
